<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="RuangJahit hadir untuk membantu Anda dalam menemukan jasa penjahit terbaik dan
    memberikan ruang untuk jasa penjahit agar dapat lebih dikenal oleh banyak orang.">
    <meta name="keywords" content="jasa jahit, produk lokal">
    <link rel="icon" href="/Logo Ruangjahit 2.png">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css">
    <script src="	https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    
    <title>Buat Desain Impianmu bersama RuangJahit</title>
</head>
<body>
    <app-bar></app-bar>
    <hero-element></hero-element>
    <main id="mainContent">
        <section class="first">
            <h2>Top Selling Item</h2>
        </section>
        <section class="second">
            <h2>Mengapa harus memilih Ruangjahit?</h2>
        </section>
        <section class="third">
            <h2>Our Top Tailor</h2>
            <div class="row">
                <div class="col">
                    <div class="card">
                        
                        <h5 class="m-1"><img src="/tailor/tailor1.png" width="100px" class="img-fluid float-start rounded-circle p-2" alt=""><br>Lorem Ipsum<br><span><a href="#">see more</a></span></h5>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        
                        <h5 class="m-1"><img src="/tailor/tailor1.png" width="100px" class="img-fluid float-start rounded-circle p-2" alt=""><br>Lorem Ipsum<br><span><a href="#">see more</a></span></h5>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        
                        <h5 class="m-1"><img src="/tailor/tailor1.png" width="100px" class="img-fluid float-start rounded-circle p-2" alt=""><br>Lorem Ipsum<br><span><a href="#">see more</a></span></h5>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        
                        <h5 class="m-1"><img src="/tailor/tailor1.png" width="100px" class="img-fluid float-start rounded-circle p-2" alt=""><br>Lorem Ipsum<br><span><a href="#">see more</a></span></h5>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer-bar></footer-bar>
</body>
</html>