<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="RuangJahit hadir untuk membantu Anda dalam menemukan jasa penjahit terbaik dan
    memberikan ruang untuk jasa penjahit agar dapat lebih dikenal oleh banyak orang.">
    <meta name="theme-color" content="#FF8A00" />
    <meta name="keywords" content="jasa jahit, produk lokal">
    <meta name="dicoding:email" content="f131x0221@dicoding.org">

    <link rel="apple-touch-icon" href="/icons/icon-192x192.png">
    <link rel="manifest" href="./app.webmanifest">
    <link rel="icon" href="./ruangjahit.png">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <title>RuangJahit</title>
</head>

<body>
    <app-bar style="display: none;"></app-bar>
    <app-bar_user style="display: none;"></app-bar_user>
    <app-bar-tailor style="display: none;"></app-bar-tailor>
    <main id="mainContent"></main>
    <footer-bar></footer-bar>

    <script src="./controller/user/Authentication.js"></script>
    <script src="./controller/tailor/Authentication.js"></script>
    <script src="./js/style.js"></script>
    <script>
        function ProfileEdit() {
            const name = document.getElementById('edit_name');
            const username = document.getElementById('edit_username');
            const first_address = document.getElementById('edit_first_address');
            const first_phone = document.getElementById('edit_first_phone');
            const province_id = document.getElementById('edit_province_id');
            const regency_id = document.getElementById('edit_regency_id');
            const zip_code = document.getElementById('edit_zip_code');

            const data = JSON.stringify({
                name: name.value,
                username: username.value,
                password_confirmation: password_confirmation.value,
                first_address: first_address.value,
                province_id: province_id.value,
                regency_id: regency_id.value,
                zip_code: zip_code.value,
                first_phone: first_phone.value,
            });

            token = localStorage.getItem('token');

            const url = 'https://backend-ruangjahit-production.up.railway.app/api/users/edit';
            fetch(url, {
                method: 'PUT',
                headers: {
                    'Content-Type': 'application/json',
                    'Accept': 'application/json',
                    'Authorization': `Bearer ${token}`,
                },
                body: data,
            }).then((response) => response.json().then((data) => {
                console.log(response.status);
                if (response.status == 200) {
                    alert('Data Berhasil Diubah!');
                    name.value = '';
                    username.value = '';
                    password_confirmation.value = '';
                    first_address.value = '';
                    province_id.value = '';
                    regency_id.value = '';
                    zip_code.value = '';
                    first_phone.value = '';
                    location.reload();
                } else {
                    console.log(data);
                    alert(`Error, terjadi kesalahan ${data.message}`);
                }
            })).catch((error) => {
                alert(`Error, terjadi kesalahan ${error}`);
            });
        }

        function categoryAdd() {
            const name = document.getElementById('categoryName');
            const slug = document.getElementById('slug');

            const data = JSON.stringify({
                name: name.value,
                slug: slug.value,
            });

            const url = 'https://backend-ruangjahit-production.up.railway.app/api/categories';
            const token = localStorage.getItem('token');

            fetch(url, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'Accept': 'application/json',
                        'Authorization': `Bearer ${token}`,
                    },
                    body: data,
                })
                .then((response) => response.json().then((data) => {
                    console.log(response.status);
                    if (response.status == 200 || response.status == 201) {
                        swal({
                            icon: 'success',
                            title: 'Success!',
                            text: 'Kategori berhasil ditambahkan!',
                            button: 'OK',
                        }).then((value) => {
                            location.reload(true);
                        });
                    } else {
                        console.log(data);
                        swal({
                            icon: 'error',
                            title: 'Oops...',
                            text: 'Gagal Menambahkan Kategori!',
                            button: 'OK',
                        })
                    }
                }))
                .catch((error) => {
                    swal({
                        icon: 'error',
                        title: 'Oops...',
                        text: 'Gagal Menambahkan Kategori!',
                        button: 'OK',
                    })
                });
        }
        function productAdd() {
            const name = document.getElementById('productName');
            const price = document.getElementById('productPrice');
            const description = document.getElementById('productDescription');
            const stock = document.getElementById('productStock');
            const color = document.getElementById('productColor');
            const weight = document.getElementById('productWeight');
            const size = document.getElementById('productSize');
            const category_product_id = document.getElementById('productCategory');

            const data = JSON.stringify({
                name: name.value,
                price: price.value,
                description: description.value,
                stock: stock.value,
                color: color.value,
                weight: weight.value,
                size: size.value,
                category_product_id: category_product_id.value,
            });

            const url = 'https://backend-ruangjahit-production.up.railway.app/api/products';
            const token = localStorage.getItem('token');

            fetch(url, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'Accept': 'application/json',
                        'Authorization': `Bearer ${token}`,
                    },
                    body: data,
                })
                .then((response) => response.json().then((data) => {
                    console.log(response.status);
                    if (response.status == 200 || response.status == 201) {
                        swal({
                            icon: 'success',
                            title: 'Success!',
                            text: 'Produk Berhasil Ditambahkan!',
                            button: 'OK',
                        }).then((value) => {
                            location.reload(true);
                        });
                    } else {
                        console.log(data);
                        swal({
                            icon: 'error',
                            title: 'Oops...',
                            text: 'Gagal Menambahkan Produk!',
                            button: 'OK',
                        })
                    }
                }))
                .catch((error) => {
                    swal({
                        icon: 'error',
                        title: 'Oops...',
                        text: 'Gagal Menambahkan Produk!',
                        button: 'OK',
                    })
                });
        }
        function productEdit() {
            const name = document.getElementById('productName');
            const price = document.getElementById('productPrice');
            const description = document.getElementById('productDescription');
            const stock = document.getElementById('productStock');
            const color = document.getElementById('productColor');
            const weight = document.getElementById('productWeight');
            const size = document.getElementById('productSize');
            const category_product_id = document.getElementById('productCategory');

            const data = JSON.stringify({
                name: name.value,
                price: price.value,
                description: description.value,
                stock: stock.value,
                color: color.value,
                weight: weight.value,
                size: size.value,
                category_product_id: category_product_id.value,
            });

            const url = 'https://backend-ruangjahit-production.up.railway.app/api/products/'.$_GET['id'];
            const token = localStorage.getItem('token');

            fetch(url, {
                    method: 'PUT',
                    headers: {
                        'Content-Type': 'application/json',
                        'Accept': 'application/json',
                        'Authorization': `Bearer ${token}`,
                    },
                    body: data,
                })
                .then((response) => response.json().then((data) => {
                    console.log(response.status);
                    if (response.status == 200 || response.status == 201) {
                        swal({
                            icon: 'success',
                            title: 'Success!',
                            text: 'Produk Berhasil Diubah!',
                            button: 'OK',
                        }).then((value) => {
                            location.reload(true);
                        });
                    } else {
                        console.log(data);
                        swal({
                            icon: 'error',
                            title: 'Oops...',
                            text: 'Gagal Mengubah Produk!',
                            button: 'OK',
                        })
                    }
                }))
                .catch((error) => {
                    swal({
                        icon: 'error',
                        title: 'Oops...',
                        text: 'Gagal Mengubah Produk!',
                        button: 'OK',
                    })
                });
        }
    </script>
</body>

</html>