@media screen and (max-width: 499px) {
  .navbar ul{
    flex-wrap: wrap;
    width: 100%;
  }

  .navbar-toggle{
    display: block;
  }

  .navbar-links{
    display: none;
    width: 100%;
    text-align: center;
  }

  .active{
    display: block;
  }

  .hero {
    height: fit-content;
    flex-direction: column;
  }

  .hero .left{
    width: 100%;
  }

  .hero .left h1{
    font-size: 20px;
  }

  .hero .left p{
    font-size: 12px;
  }

  .hero .left .header-btn{
    font-size: 12px;
  }

  .hero .right img {
    display: none;
  }
}

@media screen and (min-width: 650px) {
  .app-bar {
    grid-template-columns: 1fr auto;
    padding: 8px 32px;
  }
 
  .app-bar .app-bar__brand h1 {
    font-size: 1.5em;
  }
 
  .app-bar .app-bar__menu {
    display: none;
  }
 
  .app-bar .app-bar__navigation {
    position: static;
    width: 100%;
  }
 
  .app-bar .app-bar__navigation ul li {
    display: inline-block;
  }
 
  .app-bar .app-bar__navigation ul li a {
    display: inline-block;
    width: 100px;
    text-align: center;
    margin: 0;
  }

}
 
@media screen and (min-width: 768px) {

}

@media(max-width: 767px){ 
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}

@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}

@media screen and (min-width: 1024px) {

}

