@media screen and (max-width: 1200px) {
  .first {
    grid-template-columns: repeat(4, 1fr);
  }

  .second h1 {
    font-size: 2em;
  }

  .sec-body div p, .sec-body div ul li {
    font-size: 0.98em;
  }
}

@media(max-width: 900px){
  .first {
    grid-template-columns: repeat(3, 1fr);
  }
} 

@media(max-width: 768px){ 
  .sec-body {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    row-gap: 10px;
  }

  .second h1 {
    font-size: 28px;
    padding-bottom: 10px;
  }

  .sec-body div p {
    font-size: 0.98em;
  }

  .footer-col{
    width: 50%;
    margin-bottom: 30px;
  }
}

@media(max-width: 574px){
  .first {
    grid-template-columns: repeat(2, 1fr);
    padding: 10px;
    padding-bottom: 50px;
  }
  
  .first .card {
    margin: 5px;
  }

  .footer-col{
    width: 100%;
  }
}

@media(max-width: 425px){
  .first {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1fr);
    padding: 40px;
    padding-top: 10px;
  }
  
  .second-main .card {
    width: 14rem;
  }
}

/* Responsive */

@media screen and (max-width: 900px) {
  .login {
      border-radius: 10px 10px 0 0;
  }
  .register {
      border-radius: 0 0 10px 10px;
  }
}

@media screen and (max-width: 1024px) {
  .hero-left h1{
      font-size: 30px;
  }

  .hero-left p {
      font-size: 15px;
  }

  .hero-left button{
      font-size: 15px;
  }

  .first-main p {
      font-size: 14px;
  }
}

@media screen and (width: 768px) {
  .hero-right img {
      margin-left: 50px;
  }
  .order-list {
      display: none;
  }
  #nav-orderstatus-tab {
      display: block;
  }
}

@media screen and (max-width: 425px) {
  .user-profile .content {
      text-align: center;
  }
  .order-list {
      display: none;
  }
  #nav-orderstatus-tab {
      display: block;
  }
}