@import url('/node_modules/bootstrap/dist/css/bootstrap.min.css');
@import url('/node_modules/bootstrap-icons/font/bootstrap-icons.css');
@import url('./component/about-us.css');
@import url('./component/sign-in.css');
@import url('./component/sign-up.css');
@import url('./component/product-page.css');
@import url('./component/tailor-page.css');
@import url('./component/favorite-page.css');
@import url('./component/app-bar.css');
@import url('./component/detail-product.css');
@import url('./component/user-profile.css');

*, html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
 
body {
  font-family: 'Poppins', sans-serif;
  background-color: white;
  margin: 0;
  min-height: 100vh;
}


.hero {
  background-color: #FF8A00;
}

.hero-left h1 {
  font-weight: 900;
}

.first-main {
  padding: 40px;
}

.first-main h1 {
  text-align: center;
  font-weight: 800;
  color: #FF8A00;
  margin-bottom: 40px;
}

.first-main p {
  font-size: 20px;
}

.first-main .fm-right span{
  color: #FF8A00;
  font-weight: 800;
}
/* Main Content */
main {
  flex: 1;
}
 
.content {
  margin: 0 auto;
  min-height: 100%;
}

.title-section h2 {
  padding-top: 50px;
  text-align: center;
}

.first {
  max-width: 100%;
  padding: 50px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  row-gap: 20px;
}

.first a {
  text-decoration: none;
  color: #000;
}

.first .card {
  background-color: #fff;
  border:none;
  border-radius: 10px;
  width: 190px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.first .like-btn{
  font-size: 20px;
  font-weight: 500;
  color: #FF8A00;
	display: flex;
	justify-content: center;
	align-items: center;
}

.first .header-product{
  position: absolute;
  width: 100%;
  padding: 9px;
}

.first .image-container{
position: relative;
}

.first .thumbnail-image{
  border-radius: 10px 10px 0 0 !important;
  width: 200px;
}

.first .product-name{
font-size: 13px;
font-weight: bold;
width: 75%;
}

.first .price{
font-size: 13px;
font-weight: bold;
color: #FF8A00;
}

.first .rating-star{
font-size: 10px !important;
}

.first .rating-number{
font-size: 10px;
color: grey;

}

.first .btn-buy{
  font-size: 12px;
  padding: 10px;
  background-color: #FF8A00;
  color: #fff;
  font-weight: 500;
  border-radius: 5px;
}

.second {
  padding: 50px 36px;
  background-color: #FFE1A6;
  border-bottom: 1px solid #d3d3d3;
}

.second h1 {
  text-align: center;
  align-items: center;
  font-size: 2.5em;
  padding-bottom: 25px;
}

.sec-body {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-items: center;
  background-color: #FFE1A6;
}

.sec-img, .sec-body div {
  position: relative;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.sec-img img{
  padding: 16px;
  width: 100%;
  align-items: center;
  justify-items: center;
}

.sec-body div {
  height: fit-content;
}

.sec-body div h3 {
  font-weight: 500;
  padding: 0 16px;
}

.sec-body div ul li {
  font-weight: 500;
  font-size: 22px;
  padding: 0 16px;
}

.sec-body div p {
  margin: 0;
  font-weight: 500;
  font-size: 22px;
  padding: 8px 16px 20px;
}

.third {
  padding: 30px;
  height: fit-content;
}

.third h2 {
  margin-bottom: 30px;
  text-align: center;
}

.third .card {
  width: 280px;
  border-radius: 80px;
  margin: 10px;
  position: static;
}

.col {
  padding: 0;
}

.third .card a{
  font-size: 18px;
  text-decoration: none;
  color: #FF8A00;
}

/* Like Button */
/*
  Like
*/
.like {
  width: 55px;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #db0000;
  
  position: fixed;
  bottom: 16px;
  right: 16px;
  border-radius: 50%;
  border: 0;
  
  font-size: 18px;
  color: white;
  cursor: pointer;
  z-index: 99;
}

.like svg {
  width: 16px;
  height: 16px;
}

.like svg path{
  fill: #DBDDE5;
  border: #DBDDE5;
}

.like-solid svg {
  width: 16px;
  height: 16px;
}

.like-solid svg path{
  fill: #DBDDE5;
}



/* Footer */
.row{
	display: flex;
	flex-wrap: wrap;
  margin-bottom: 50px;
}

ul{
	list-style: none;
  padding: 0;
}

.footer{
	background-color: #fbfbfb;
  padding-top: 50px;
}

.footer-col{
  width: 25%;
  padding: 0 15px;
}

.footer-col h4{
	font-size: 18px;
	color: #000000;
	text-transform: capitalize;
	margin-bottom: 20px;
  margin-right: 0px;
	font-weight: 700;
  padding-bottom: 10px;
  border-bottom: 2px solid #FF8A00;
  width: 55%;
}

.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #000000;
	text-decoration: none;
	font-weight: 300;
	color: #000000;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #FF8A00;
	padding-left: 8px;
}

.footer-col img {
  width: 70px;
  padding: 8px;
}

/* Footer-Copyright */
.footer .footer-copyright {
  text-align: center;
  color: #000;
  padding: 10px;
}
