@import url('/node_modules/bootstrap/dist/css/bootstrap.min.css');
@import url('/node_modules/bootstrap-icons/font/bootstrap-icons.css');
@import url('./component/about-us.css');
@import url('./component/sign-in.css');
@import url('./component/sign-up.css');
@import url('./component/product-page.css');
@import url('./component/favorite-page.css');

*, html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
 
body {
  font-family: 'Poppins', sans-serif;
  background-color: white;
  margin: 0;
  min-height: 100vh;
}

 /* App Bar */

 .app-bar {
  padding: 8px 16px;
  background-color: #ffffff;
  display: grid;
  grid-template-columns: auto 1fr auto;
  position: sticky;
  top: 0;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  z-index: 99;
}
 
.app-bar .app-bar__menu {
  align-items: center;
  padding: 5px;
  
}
 
.app-bar .app-bar__menu .btn-toggle {
  background-color: transparent;
  border: none;
  font-size: 28px;
  padding: 10px;
  cursor: pointer;
  color: #FF8A00;
  float: right;
}

#hamburgerButton {
  display: none;
}
 
.app-bar .app-bar__brand {
  display: flex;
  align-items: center;
}
 
.app-bar .app-bar__navigation {
  position: absolute;
  top: 80px;
  left: -700px;
  width: 100%;
  padding-right: 30px;
  align-items: center;
  transition: all 0.3s;
  background-color: #ffffff;
  overflow: hidden;
}
 
.app-bar .app-bar__navigation.open {
  left: 0;
  padding: 0 30px;
}

.app-bar .app-bar__navigation ul {
  padding: 0;
  text-align: center;
  margin: 10px;
}

.app-bar .app-bar__navigation ul li a {
  display: inline-block;
  text-decoration: none;
  text-align: center;
  padding: 10px;
}

.app-bar .app-bar__navigation .nav-link:hover {
  border-bottom: 3px solid #FF8A00;
}

.app-bar .login {
  background-color: #FF8A00;
  border-radius: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.app-bar .login:hover {
  background-color: #f1b26a;
  border-radius: 10px;
}

.app-bar .app-bar__navigation .login a{
  color: #ffffff;
}

.app-bar .register {
  background-color: #f1b26a;
  border-radius: 10px;
}

.app-bar .register:hover {
  background-color: #FF8A00;
  border-radius: 10px;
}

.app-bar .app-bar__navigation .register a{
  color: #ffffff;
}

/* Hero Element */
.rows {
  display: flex;
}

.containers {
  max-width: 90%;
  margin: 0 auto;
  padding: 50px;
}

.hero {
  max-width: 100%;
  background-color: #FF8A00;
  gap: 2em;
  flex-wrap: wrap-reverse;
  align-items: center;
}

.hero img {
  max-width: 100%;
}

.hero>* {
  flex: 1 1 25em;
}

.hero h1 {
  margin: 0;
  font-weight: 700;
  font-size: 40px;
  line-height: 1;
}

.hero p {
  margin: 0;
  font-weight: 500;
  font-size: 20px;
  padding: 1em 0;
}

.hero a {
  font-weight: 700;
  font-size: 20px;
  padding: 0.3em 1em;
  background-color: #fbfbfb;
  color: #FF8A00;
  border-radius: 10px;
  transition: 0.3s ease-in-out;
  text-decoration: none;
}

/* Main Content */
main {
  flex: 1;
}
 
.content {
  margin: 0 auto;
  min-height: 100%;
}

.title-section h2 {
  padding-top: 50px;
  text-align: center;
}

.first {
  max-width: 100%;
  padding: 50px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}

.first a {
  text-decoration: none;
  color: #000;
}

.first .card {
  background-color: #fff;
  border:none;
  border-radius: 10px;
  width: 190px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.first .like-btn{
  font-size: 20px;
  font-weight: 500;
  color: #FF8A00;
	display: flex;
	justify-content: center;
	align-items: center;
}

.first .header-product{
  position: absolute;
  width: 100%;
  padding: 9px;
}

.first .image-container{
position: relative;
}

.first .thumbnail-image{
  border-radius: 10px 10px 0 0 !important;
  width: 200px;
}

.first .product-name{
font-size: 13px;
font-weight: bold;
width: 75%;
}

.first .price{
font-size: 13px;
font-weight: bold;
color: #FF8A00;
}

.first .rating-star{
font-size: 10px !important;
}

.first .rating-number{
font-size: 10px;
color: grey;

}

.first .btn-buy{
  font-size: 12px;
  padding: 10px;
  background-color: #FF8A00;
  color: #fff;
  font-weight: 500;
  border-radius: 5px;
}

.second {
  padding: 50px 36px;
  background-color: #FFE1A6;
  border-bottom: 1px solid #d3d3d3;
}

.second h1 {
  text-align: center;
  align-items: center;
  font-size: 2.5em;
  padding-bottom: 25px;
}

.sec-body {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-items: center;
  background-color: #FFE1A6;
}

.sec-img, .sec-body div {
  position: relative;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.sec-img img{
  padding: 16px;
  width: 100%;
  align-items: center;
  justify-items: center;
}

.sec-body div {
  height: fit-content;
}

.sec-body div h3 {
  font-weight: 500;
  padding: 0 16px;
}

.sec-body div ul li {
  font-weight: 500;
  font-size: 22px;
  padding: 0 16px;
}

.sec-body div p {
  margin: 0;
  font-weight: 500;
  font-size: 22px;
  padding: 8px 16px 20px;
}

.third {
  padding: 30px;
  height: fit-content;
}

.third h2 {
  margin-bottom: 30px;
  text-align: center;
}

.third .card {
  width: 280px;
  border-radius: 80px;
  margin: 10px;
  position: static;
}

.col {
  padding: 0;
}

.third .card a{
  font-size: 18px;
  text-decoration: none;
  color: #FF8A00;
}

/* Footer */
.row{
	display: flex;
	flex-wrap: wrap;
  margin-bottom: 50px;
}

ul{
	list-style: none;
  padding: 0;
}

.footer{
	background-color: #fbfbfb;
  padding-top: 50px;
}

.footer-col{
  width: 25%;
  padding: 0 15px;
}

.footer-col h4{
	font-size: 18px;
	color: #000000;
	text-transform: capitalize;
	margin-bottom: 20px;
  margin-right: 0px;
	font-weight: 700;
  padding-bottom: 10px;
  border-bottom: 2px solid #FF8A00;
  width: 55%;
}

.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #000000;
	text-decoration: none;
	font-weight: 300;
	color: #000000;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #FF8A00;
	padding-left: 8px;
}

.footer-col img {
  width: 70px;
  padding: 8px;
}

/* Footer-Copyright */
.footer .footer-copyright {
  text-align: center;
  color: #000;
  padding: 10px;
}
