<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="RuangJahit hadir untuk membantu Anda dalam menemukan jasa penjahit terbaik dan
    memberikan ruang untuk jasa penjahit agar dapat lebih dikenal oleh banyak orang.">
    <meta name="keywords" content="jasa jahit, produk lokal">
    <link rel="icon" href="./favicon.png">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
    
    <title>Buat Desain Impianmu bersama RuangJahit</title>
</head>
<body>
    <header class="app-bar">
        
        <div class="app-bar__brand">
            <img src="" alt="">
            <h1>Ruang<span>J</span>ahit</h1>
        </div>

        <nav id="navigationDrawer" class="app-bar__navigation">
          <div>
            <ol class="app-bar__navigation-item">
                <li><a href="#/home">Home</a></li>
                <li><a href="#/product">Product</a></li>
                <li><a href="#/favorite">Favorite</a></li>
                <li><a href="#/about-us">About Us</a></li>
            </ol>

            <ol class="app-bar__registration">
              <li class="login"><a href="#/masuk">Masuk</a></li>
              <li class="register"><a href="#/daftar">Daftar</a></li>
            </ol>
          </div>
        </nav>

        <div class="app-bar__menu">
            <button id="hamburgerButton">☰</button>
        </div>

    </header>
    
    <main id="mainContent"></main>
    
    <footer>
        <div class="footer-head">
            <div class="footer-head__about">
                <h1>Tentang RuangJahit</h1>
                <p>Lorem ipsum dolor sit amet consectetur.</p>
            </div>

            <div class="footer-head__navigation">
                <h1>Navigasi</h1>
                <div class="footer-head__navigation-list">
                    <ul>
                        <li><a href="#/home">Home</a></li>
                        <li><a href="#/product">Product</a></li>
                        <li><a href="#/favorite">Favorite</a></li>
                        <li><a href="#/about-us">About Us</a></li>
                    </ul>
                </div>
            </div>

            <div class="footer-head__contact">
                <h1>Kontak Kami</h1>
                <div class="footer-head__contact-list">
                    <ul>
                        <li>
                            <a href="https://www.linkedin.com/in/hagi-azzam-azzikri-108929215/">Hagi</a>
                        </li>
                        <li>
                            <a href="https://www.linkedin.com/in/anisa-f-466150141/">Anisa</a>
                        </li>
                        <li>
                            <a href="https://www.linkedin.com/in/nilam-magfira-az-zahra-24a40a20a/">Nilam</a>
                        </li>
                        <li>
                            <a href="https://www.linkedin.com/in/mochraflyherdianto/">Rafly</a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="footer-head__support">
                <h1>Didukung Oleh</h1>
                <div class="footer-head__support-list">
                    <img src="https://rekreartive.com/wp-content/uploads/2018/11/Logo-Unsika-Universitas-Singaperbangsa-Karawang-Original-PNG.png" alt="Logo UNSIKA" width="54px">
                    <img src="https://www.unhas.ac.id/wp-content/uploads/2022/09/Logo-Resmi-Unhas-1.png" alt="Logo UNHAS" width="50px">
                    <img src="https://rekreartive.com/wp-content/uploads/2018/10/Logo-Polinema-Politeknik-Negeri-Malang-PNG-1140x1138.png" alt="Logo POLINEMA" width="52px">
                    <img src="https://www.dicoding.com/blog/wp-content/uploads/2014/12/dicoding-header-logo.png" alt="Logo DICODING" width="70px">
                    <img src="https://lh3.googleusercontent.com/-nRrSWU--Dfk/X2LaaEbsIyI/AAAAAAAAAQA/n7AH_xi8iAI9WT7aslf0YGAt4Ab_lElvwCLcBGAsYHQ/s1600/1600313957610819-0.png" alt="Logo KAMPUS MERDEKA" width="58px">
                </div>
            </div>
        </div>
        
        <div class="separator"></div>

        <div class="footer-copyright">
            <p>Copyright © 2022 - RuangJahit. All Rights Reserved.</p>
        </div>
    </footer>
</body>
</html>