<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="RuangJahit hadir untuk membantu Anda dalam menemukan jasa penjahit terbaik dan
    memberikan ruang untuk jasa penjahit agar dapat lebih dikenal oleh banyak orang.">
    <meta name="keywords" content="jasa jahit, produk lokal">
    <link rel="icon" href="./favicon.png">
    
    <title>Buat Desain Impianmu bersama RuangJahit</title>
</head>
<body>
    <h1>Welcome to RuangJahit</h1>
</body>
</html>