.small-img-group {
    display: flex;
    justify-content: space-between;
}

.small-img-col {
    flex-basis: 24%;
    cursor: pointer;
}

.name-product {
    font-size: 30px;
    color: rgb(17, 15, 37);
    font-weight: bolder;
}

.detail .price {
    font-size: 25px;
    color: #FF8A00;
    line-height: 10px;
    font-weight: 900;
}

.color input {
    display: none;
}

.form-color {
    width: 20px;
    height: 25px;
    margin-left: 10px;
    /* background-color: #000; */

    border: 3px solid #FF8A00;
}

.form-size {
    width: 40px;
    height: 40px;
    padding: 5px;

    text-align: center;
    font-weight: 600;
    border: solid #FF8A00 2px;
    border-radius: 5px;
}

.input-size:checked > .form-size {
    background-color: #FF8A00;
    color: #fff;
}

.detail-product p{
    font-size: 12px;
    line-height: 10px;
}

.detail-product i {
    color: #fd4;
}

.label-form, .label-form span {
    background-color: transparent;
    border: none;
    color: #000000;
    padding: 0;
    padding-right: 5px;
    font-size: 15px;
    font-weight: 900;
}

.input-group .form-control {
    background-color: transparent;
    box-shadow: none;
    border: solid 1px rgb(141, 141, 141);
}

.btn-product input {
    width: 100px;
    height: 40px;
    border-radius: 5px;
    font-size: 15px;
}

.btn-product .buy-now {
    background-color: #FF8A00;
    border: none;
    color: #fff;
}

.btn-product .add-cart {
    background-color: #fff;
    border: solid #FF8A00 2px;
    color: #FF8A00;
}

.sub-title {
    color: #FF8A00;
    font-weight: 800;
    font-size: 25px;
}

hr {
    font-weight: 900;
    border-width: 1.5px;
}

.resto-review {
    display: block;
    border-radius: 8px;
    overflow: hidden;
    padding: 24px;
    margin-bottom: 15px;
  }
  
  .resto-review ul {
      list-style-type: none;
      padding-inline-start: 0;
  }
  
  .resto-review h2 {
      list-style-type: none;
      padding-inline-start: 0;
      margin-bottom: 10px;
  }
  
  .review_item {
    padding: 8px 0;
    display: grid;
  }
  
  .review_item img svg{
    width: 50px;
    height: 50px;
  }
  
  
  .reviewer_photo {
    position:absolute;
    /* margin: 22px; */
    margin-left: 0px;
  }
  
  .review-content{
    background-color: #DBDDE5;
    flex: 1;
    padding: 16px;
    display: block;
    border-radius: 16px;
    overflow: hidden;
    margin-left: 60px;
  }
  
  
  .reviewer_name {
    font-weight: 700;
    line-height: 1.3;
    color: #262837;
  }
  
  .reviewer_comment {
    color: #262837;
  }
  
  .reviewer_date {
    font-size: 0.8em;
    color: #262837;
  }